.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item image {
  max-width: 64px;
}

.video-detail {
  width: 70%;
  display: inline-block;
  margin-right: 10px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul.list-group {
  display: inline-block;
  position: absolute;
  width: 350px;
}

li.list-group-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.list-group-item:hover {
  background-color: #eee;
}
